.git
.env
.env.*
public/hot
public/build
!.env.example
!.env.production.example
node_modules
vendor
tests
storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.idea
.vscode
